<div class="col-xs-12">
    <div class="panel panel-default contentLeft">
        <div class="panel-header">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/category/{{.Id}}">{{.Title}}</a>
                    </li>
                    <li class="active">{{.Title}}</li>
                </ol>
            </div>
        </div>
        <div class="panel-body dataInfo">
            <div class="panel-body">
                <div class="row">
                    <video src="{{.File_url}}" controls="controls" style="width: 100%;" autoplay="true"></video>
                </div>
            </div>
        </div>
    </div>
</div>